body{
	/*background-color: ivory;
	background-image: url(../img/fondo.jpg);*/
	background: linear-gradient(
        to right,
        rgba(255, 107, 107, 0.8),  /* 80% opacidad */
        rgba(78, 205, 196, 0.6)    /* 60% opacidad */
    );
    height: 100vh;
	font-family: arial;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
	/*background-color: #ececc1;*/
	background-color: rgba(255, 223, 223, 0.689);
	max-width: 990px; 
}

header{
	background-color: rgba(231, 99, 114, 0.858);
}

h1{
	color: #000B1E;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
}


/* Estilos para el MENÚ*/
.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}
.dropdown-menu {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.dropdown-item:hover {
    background-color: #f8f9fa;
}

.col_raiz{
	background-color:  rgba(156, 222, 196, 0.58);
	margin: 0.5em;
	padding: 0.2em;
	padding-top: 0.2em;
	/*justify-content: center;
	text-align: center;*/
}

.btn-primary {
    background-color: rgba(156, 222, 196, 0.58) !important;  /* Rojo coral */
    border-color: rgba(156, 222, 196, 0.58) !important;
	color: #000B1E !important;
}

footer{
	background-color: rgba(231, 99, 114, 0.858);
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}

address{
	text-align: center;
    font-style: normal;
}

address a{
	color: black;
	text-decoration: underline;
	margin-left: 0;
}
