body{
	background-color: ivory;
	background-image: url(../img/fondo.png);
	font-family: arial;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

#container{
	background-color: #ececc1;
	/*width: 100%;
	max-width: 990px;
	padding: 1em;
	margin: 0 auto;
	box-sizing: border-box;*/
}

h1{
	background-color: #FFA500;
	color: #000B1E;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0;
	margin-bottom: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li{
	display: inline-block;
	line-height: 30px;
	background-color: #000B1E;
	margin-right: 0.1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

a{
	border-radius: 5px;
	margin: 1em;
	color: ivory;
	text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
	color: #FFA500;
}

footer{
	background-color: #FFA500;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}

address{
	text-align: center;
    font-style: normal;
}

address a{
	color: black;
	text-decoration: underline;
	margin-left: 0;
}
